/* style.css */
/* Custom CSS for dark table */
body {
    background-color: #222222;
    color: white;
}

.table {
    background-color: #333333;
    color: white;
}

.table th,
.table td {
    border-color: #555555;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
